!!! 5
%html(lang='#{I18n.default_locale}')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title= [content_for(:title), t('.title')].reject(&:blank?).join(' | ')
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = favicon_link_tag '/favicon.ico'

  %body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed(type='button'
            data-toggle='collapse' data-target='#navbar-collapse')
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href='#{root_path}')= t('.nav.title')
        #navbar-collapse.collapse.navbar-collapse
          .navbar-nav
            %ul.nav.navbar-nav
              %li= link_to t('.nav.api'), docs_path

    .container-fluid
      = yield

    - if content_for?(:javascript)
      = yield(:javascript)
