- title t('.title')

= content_for :navbar do
  %form.navbar-form.navbar-left(method='get' action='#{banks_path}')
    .form-group
      %input.form-control(type='text' name='q' value='#{params[:q]}'
        placeholder='#{t '.nav.search'}')

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= t '.thead.code'
      %th= t '.thead.kanji_name'
      %th= t '.thead.hiragana_name'
      %th
  %tbody
    - @banks.each do |bank|
      %tr
        %td= bank.code
        %td= bank.kanji_name
        %td= bank.hiragana_name
        %td
          .btn-group
            %a.btn.btn-default(href='#{bank_path(bank)}')= t '.a.show'
            %a.btn.btn-default(href='#{edit_bank_path(bank)}')= t '.a.edit'
            %a.btn.btn-default(href='#{bank_branches_path(bank)}')= t '.a.branches'
            %a.btn.btn-default(href='#{bank_path(bank)}' data-method='delete' data-confirm='#{t '.confirmations.destroy'}')= t '.a.destroy'

= paginate @banks
