= form_for [bank, branch], html: { class: 'form-horizontal' } do |f|
  .form-group
    %label.col-sm-2.control-label= t '.label.code'
    .col-sm-10
      = f.text_field :code, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label= t '.label.kanji_name'
    .col-sm-10
      = f.text_field :kanji_name, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label= t '.label.hiragana_name'
    .col-sm-10
      = f.text_field :hiragana_name, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-default= t '.button.save'
