- title @branch.kanji_name

= form_for [@bank, @branch], html: { class: 'form-horizontal' } do |f|
  %fieldset.control-group
    %label.control-label= t '.form.label.code'
    .controls= f.text_field :code
  %fieldset.control-group
    %label.control-label= t '.form.label.kanji_name'
    .controls= f.text_field :kanji_name
  %fieldset.control-group
    %label.control-label= t '.form.label.hiragana_name'
    .controls= f.text_field :hiragana_name
  %fieldset.control-group
    .controls
      %button.btn= t '.form.button.save'
