!!! 5
%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title= 500
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = favicon_link_tag '/favicon.ico'
  %body
    #wrap
      .container-error
        .page-header
          %h1= t '.title'
        .lead
          %p= t '.description'
        #push

    #footer
      .container
        %p &copy; Lambda Engineering Inc. #{Date.current.year}
        %ul.inline
          %li
            %a(href='') GitHub
          %li
            %a(href='') Blog
